* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
.navbar-container {
  position: relative;
  margin: 0 auto;
  background: #4a00e0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.menu-container .page {
  height: 80px;
  border-radius: 1px solid rgba(0, 0, 0, 0.1);
}
.page {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo a {
  margin-left: 50px;
}
.page ul li {
  position: relative;
  list-style-type: none;
  display: inline-block;
}
.page-links li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  position: relative;
  margin: 0 8px;
}
#dp-pages-content {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%); /* ortalama */
  z-index: 1;
  display: none;
  padding: 25px;
  margin-right: 25px;
}
#dp-pages-content ul li {
  display: flex;

  padding: 8px 15px 8px;

  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
#dp-pages-content ul li a {
  color: #555;
}

.pages-li:hover #dp-pages-content {
  display: block;
}
#dp-pages-content ul li:hover {
  background: -webkit-linear-gradient(to bottom, #4a00e0, #8e2de2);
  background: -webkit-moz-gradient(to bottom, #4a00e0, #8e2de2);
  background: linear-gradient(to bottom, #4a00e0, #8e2de2);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
#dp-blog-content {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%); /* ortalama */
  z-index: 1;
  display: none;
  padding: 25px;
  margin-right: 25px;
}
#dp-blog-content ul li {
  display: flex;

  padding: 8px 15px 8px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
#dp-blog-content ul li a {
  color: #555;
}

.blog-li:hover #dp-blog-content {
  display: block;
}
#dp-blog-content ul li:hover {
  background: -webkit-linear-gradient(to bottom, #4a00e0, #8e2de2);
  background: -webkit-moz-gradient(to bottom, #4a00e0, #8e2de2);
  background: linear-gradient(to bottom, #4a00e0, #8e2de2);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.button {
  background: #032055;
  appearance: button;
  color: white;
  font-size: 16px;
  font-weight: 400px;
  text-decoration: none;
  border-radius: 50px;
  margin-left: 15px;
  padding: 7px 20px;
}
.button:hover {
  background: linear-gradient(50deg, #6e00ff 0, #bb00ff 100%);
}
i {
  color: white;
}
.container {
  background: -webkit-linear-gradient(to bottom, #4a00e0, #8e2de2);
  background: -webkit-moz-gradient(to bottom, #4a00e0, #8e2de2);
  background: linear-gradient(to bottom, #4a00e0, #8e2de2);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  color: white;
  display: flex;
  align-items: center;
  gap: 25px;
}

.content1 {
  font-size: 30px;
  font-weight: 600;
  line-height: 60px;
  margin-bottom: 19px;
  margin-left: 50px;
  font-family: "Poppins", sans-serif;
}
.text {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 47px;
  hyphens: auto;
  text-align: left;
  font-family: "Open Sans", sans-serif;
}

.sign-area .submit-button {
  background: linear-gradient(50deg, #6e00ff 0, #bb00ff 100%);
  background-size: 100% 200%;
  appearance: button;
  border: 0;
  border-radius: 50px;
  height: 51px;
  line-height: 51px;
  padding: 0 30px;
  margin-left: 40px;
  color: white;
  margin-bottom: 10px;
}
.sign-area .submit-button:hover {
  background-size: 100% 200%;
  background: #6e00ff;
  cursor: pointer;
}

.sign-area {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  background: #032055;
  display: inline-block;
  border-radius: 50px;
  margin: 0;
  flex: 1;
  align-self: center;
  position: relative;
  border: 0px;
  padding: 0px 190px 0px 30px;
}
.area {
  background: linear-gradient(to bottom, #4a00e0, #8e2de2);
  padding-top: 30px;
  height: 900px;
}
.main-container {
  display: grid;
  grid-template-columns: 60% 50%;
  justify-content: space-between;
  align-items: center;
  place-items: center;
  gap: 20px;
  color: #fff;
}
i {
  display: flex;
}

.image {
  width: 200px;
  height: auto;
  margin-right: 700px;
}
.top-content {
  position: relative;
  margin: 0 auto;
  background-color: #131333;
}
.top-container {
  display: flex;
  max-width: 900px;
  position: absolute;
  top: -200px;
  left: 15%;
  gap: 30px;
}

.top-container .top1 {
  padding: 30px 30px 27px;
  margin-bottom: 30px;
  text-align: center;
  background: #032055;
}
.top-card {
  border-radius: 30px;
}
.top1 .icon {
  font-size: 50px;
  line-height: 100px;
  width: 100px;
  height: 100px;
  background: -webkit-moz-gradient(to bottom, #4a00e0, #8e2de2);
  background: linear-gradient(to bottom, #4a00e0, #8e2de2);
  margin-left: 160px;
  border-radius: 50%;
  margin-bottom: 19px;
  font-weight: normal;
  color: #fff;
}
.top-container .top2 {
  text-align: center;
  padding: 30px 30px 27px;
  margin-bottom: 30px;
  background: #032055;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.08);
}
.top2 .icon2 {
  font-size: 50px;
  line-height: 100px;
  width: 100px;
  height: 100px;
  background: -webkit-moz-gradient(to bottom, #4a00e0, #8e2de2);
  background: linear-gradient(to bottom, #4a00e0, #8e2de2);
  margin-left: 160px;
  border-radius: 50%;
  margin-bottom: 19px;
  font-weight: normal;
  color: #fff;
}
.top-container .top3 {
  text-align: center;
  padding: 30px 30px 27px;
  margin-bottom: 30px;
  background: #032055;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.08);
}
.top3 .icon3 {
  font-size: 50px;
  line-height: 100px;
  width: 100px;
  height: 100px;
  background: -webkit-moz-gradient(to bottom, #4a00e0, #8e2de2);
  background: linear-gradient(to bottom, #4a00e0, #8e2de2);
  margin-left: 160px;
  border-radius: 50%;
  margin-bottom: 19px;
  font-weight: normal;
  color: #fff;
}
.top1 .content2 {
  background-color: #032055;
  padding: 30px 30px 27px;
  margin-bottom: 30px;
  display: inline-block;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.08);
}
.top2 .content3 {
  background-color: #032055;
  padding: 30px 30px 27px;
  margin-bottom: 30px;
  display: inline-block;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.08);
}
.top3 .content4 {
  background-color: #032055;
  padding: 30px 30px 27px;
  margin-bottom: 30px;
  display: inline-block;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.08);
}
.about {
  padding-top: 40px;
  display: block;
  background-color: #131333;
}
.about-area {
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 180px;
  margin-top: 300px;
}
.about-list {
  width: 100%;
  li {
    width: 100%;
  }
}
.inner-content {
  width: max-content;
}
.about-header {
  margin-bottom: 55px;
  text-align: center;
  width: 100%;
}
.about-text {
  margin-bottom: 900px;
}
.title-content {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  margin-bottom: 12px;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
p {
  font-size: 16px;
  line-height: 26px;
  color: #dbe2fb;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 20px;
}
.image-area2 .image2 {
  max-width: 100%;
  padding-bottom: 800px;
  border-style: none;
}
.sub-title {
  font-size: 24px;
  color: #fff;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

.icon4,
.icon5,
.icon6 {
  font-size: 38px;
  line-height: 80px;
  background: -webkit-moz-gradient(to bottom, #4a00e0, #8e2de2);
  background: linear-gradient(to bottom, #4a00e0, #8e2de2);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-left: 20px;
}
.info {
  display: inline-block;
  text-align: center;
}
.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.choose-us {
  background-color: #032055;
  padding: 120px 0px 130px;
  display: block;
}
.choose-container {
  max-width: 960px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.icon8:active {
  background: linear-gradient(to bottom, #4a00e0, #8e2de2);
}
.section {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.title-section {
  margin-bottom: 23px;
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  text-align: center;
  display: block;
  color: #fff;
}
.text1 {
  font-size: 18px;
  line-height: 29px;
  color: #dbe2fb;
  hyphens: auto;
  text-align: center;
  display: block;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  color: #dbe2fb;
}
.nav-menu {
  display: flex;
  text-align: center;
  margin-bottom: 14px;
  padding-left: 300px;
  list-style: none;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.nav-menu li {
  display: inline-block;
  text-align: -webkit-match-parent;
}
.icon7 {
  background: linear-gradient(to bottom, #4a00e0, #8e2de2);
  box-shadow: 0px 0px 15px rgb(255 255 255 / 15%);
  font-size: 40px;
  line-height: 90px;
  width: 90px;
  height: 90px;
  display: inline-block;
  border-radius: 50%;
  margin-bottom: 15px;
  font-weight: normal;
  text-align: center;
}
.title {
  font-size: 18px;
  line-height: 28px;
  color: #ffff;
  font-family: "Poppins", sans-serif;
  margin-top: 0;
}
.icon8 {
  font-size: 40px;
  line-height: 90px;
  width: 90px;
  height: 90px;
  display: inline-block;
  border-radius: 50%;
  margin-bottom: 15px;
  font-weight: normal;
  color: #555;
  text-align: center;
  box-shadow: 0px 0px 15px rgb(255 255 255 / 15%);
}
.tab-content {
  box-shadow: 0px 0px 10px #4e3b7b;
  border-radius: 10px;
  background: #032055;
  padding: 30px;
  display: flex;
}
.image-area-tab {
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.tab-image {
  text-align: center;
  display: block;
}
.tab-content-info {
  align-self: center;
  display: inline-block;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}
.tab-title {
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 30px;
  margin-top: 10px;
  color: #ffff;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.text-tab {
  color: #dbe2fb;
  font-size: 16px;
  hyphens: auto;
  display: block;
  text-align: left;
  margin-left: 20px;
}
.price {
  display: block;
  position: relative;
  padding: 121px 0px 130px;
  background-color: #131333;
}
.price-container {
  max-width: 960px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.price-content {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.price-title {
  margin-bottom: 20px;
  color: #fff;
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  font-family: Poppins, sans-serif;
  text-align: center;
  display: block;
}
.price-text {
  font-size: 16px;
  line-height: 26px;
  color: #dbe2fb;
  hyphens: auto;
  display: block;
}
.price-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.price-menu {
  display: block;
  text-align: center;
  margin-left: 650px;
  margin-top: 50px;
}
.price-nav-item {
  display: inline-block;
  list-style: none;
  color: rgb(255, 255, 255);
  background: linear-gradient(rgb(74, 0, 224), rgb(142, 45, 226));
  box-shadow: 0px 0px 10px #4e3b7b;
  margin-bottom: 7px;
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
  font-weight: 600;
  cursor: pointer;
  padding: 12px 30px;
  border-radius: 50px;
}
.price-nav-item2 {
  display: inline-block;
  list-style: none;
  color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px #4e3b7b;
  margin-bottom: 7px;
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
  font-weight: 600;
  cursor: pointer;
  padding: 12px 30px;
  border-radius: 50px;
  background-color: transparent;
}
.nav-link {
  text-decoration: none;
  color: #fff;
}
.price-nav-item2:hover {
  background: linear-gradient(rgb(74, 0, 224), rgb(142, 45, 226));
}
.price-nav {
  display: inline-block;
  text-align: center;
  margin-bottom: 23px;
  list-style: none;
}
.price-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 250px;
  gap: 30px;
}
.price-box {
  background: #032055;
  text-align: center;
  padding: 22px 30px 30px;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.08);

  padding-right: 85px;
  padding-left: 85px;
}
.box-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 0px;
  color: #ffff;
  font-family: "Poppins", sans-serif;
  text-align: center;
  display: block;
}
.price-rate {
  width: 100%;
  text-align: center;
  border-radius: 4px;
  color: #fff;
  padding: 16px 20px 16px;
  margin: 22px 0px 17px;
  background: linear-gradient(to bottom, #4a00e0, #8e2de2);
  position: relative;
}
.price1 {
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 0px;
  font-weight: 700;
  color: #fff;
}

.service-feature-list {
  margin-left: 0px;
  padding-left: 0px;
  list-style: none;
  display: block;
  text-align: center;
}
.service-feature-list li p {
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 38px;
  color: #dbe2fb;
  hyphens: auto;
  display: block;
}
.deposit-button {
  margin-top: 20px;
  display: block;
}
.button1 {
  font-size: 16px;
  font-weight: 400;
  padding: 12px 30px;
  display: inline-block;
  color: #fff;
  border-radius: 50px;
  cursor: pointer;
  border: 0px;
  text-decoration: none;
  background: linear-gradient(to bottom, #4a00e0, #8e2de2);
}
.price .price-box .price-rate .icon9 {
  position: absolute;
  left: 10px;
  bottom: 0px;
  font-size: 65px;
  opacity: 0.2;
  transform: rotate(20deg);
}
.works {
  padding: 116px 0px 130px;
  background: linear-gradient(to bottom, #4a00e0, #8e2de2);
  display: block;
}
.works-container {
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
.works-heading {
  text-align: center;
  margin-bottom: 57px;
  color: #fff;
}
.works-title {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  margin-bottom: 12px;
  font-family: "Poppins", sans-serif;
}
.works-text {
  font-size: 16px;
  line-height: 26px;
  hyphens: auto;
  display: block;
}

.works-box-card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  max-width: 1100px;
  margin: 0 auto;

  .works-box {
    background: #032055;
    width: 500px;
    height: 320px;
    padding: 30px 30px 26px;
  }
  .works-box-header {
    text-align: center;
    margin: 0 auto;

    .works-box-icon {
      width: 100px;
      height: 100px;
      background: linear-gradient(to bottom, #4a00e0, #8e2de2);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      margin: 0 auto;
      font-size: 32px;
    }
    .works-info-title {
      font-size: 24px;
      line-height: 34px;
      font-weight: 600;
      margin-top: 15px;
      margin-bottom: 15px;
      color: #fff;
      font-family: "Poppins", sans-serif;
    }
  }

  .works-box-content {
    p {
      font-size: 16px;
      line-height: 1.625;
      color: #dbe2fb;
      hyphens: auto;
      text-align: center;
    }
  }
}

.works-info {
  display: block;
}
.works-inner {
  margin-bottom: 0px;
  margin-top: 0px;
  color: #dbe2fb;
  font-size: 16px;
  line-height: 1.625;
  hyphens: auto;
}
.investment {
  background: #032055;
  padding: 120px 0px 115px;
  position: relative;
  display: block;
}
.investment-container {
  max-width: 960px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.investment-header {
  margin-bottom: 58px;
  text-align: center;
}
.investment-title {
  color: #fff;
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  margin-bottom: 12px;
  font-family: "Poppins", sans-serif;
}
.investment-text {
  font-size: 16px;
  line-height: 26px;
  color: #dbe2fb;
  hyphens: auto;
}
.investment-row {
  display: block;
}
.investment-menu {
  display: block;
  text-align: center;
  margin-bottom: 25px;
}
.investment-nav {
  display: inline-block;
  list-style: none;
  text-align: center;
  justify-content: center;
}
.investment-nav-item {
  display: inline-block;
  list-style: none;
}
.investment-active-link {
  background: linear-gradient(to bottom, #4a00e0, #8e2de2);
  color: #fff;
  box-shadow: 0px 0px 10px #4e3b7b;
  line-height: 50px;
  padding: 15px 40px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 600;
  margin: 0px 5px;
  text-decoration: none;
}
.investment-link {
  box-shadow: 0px 0px 10px #4e3b7b;
  line-height: 50px;
  padding: 15px 40px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 600;
  margin: 0px 5px;
  color: #fff;
  text-decoration: none;
}

.table {
  background: #001232;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
  position: relative;
  width: 100%;
  color: #212529;
  border-collapse: collapse;
  display: table;
  border-spacing: 2px;
  border-color: gray;
}
.table th {
  color: #ffff;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  border-top: 0px;
  border-bottom: 0px;
  padding: 20px 15px;
  vertical-align: bottom;
  text-align: inherit;
}
.table td:nth-child(3) {
  color: #4a00e0;
}
.table td:nth-child(4) {
  color: orange;
}
.table td {
  color: #fff;
  vertical-align: middle;
  padding: 20px 15px;
  font-size: 16px;
  font-weight: 700;
  border-top: 1px solid rgba(255, 255, 255, 0.09);
}
.table img {
  margin-right: 5px;
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}
.mini-section {
  background: linear-gradient(to bottom, #4a00e0, #8e2de2);
  padding: 95px 0px 82px;
}
.mini-container {
  max-width: 960px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.mini-header {
  width: 100%;
  padding-right: 15px;
  padding-left: 135px;
}
.mini-title {
  font-size: 30px;
  line-height: 40px;
  font-weight: 600;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
.mini-item-link {
  text-decoration: none;
  margin-left: 26px;
  font-size: 16px;
  font-weight: 400;
  padding: 12px 35px;
  color: #5e00d9;
  border-radius: 50px;
  cursor: pointer;
  background: #fff;
  border: 1px solid #fff;
}
.mini-item {
  text-align: right;
  display: block;
}
.mini-item :hover {
  background-color: #5e00d9;
  color: #fff;
}
.advantage {
  background: #032055;
  padding: 120px 0px 130px;
  display: block;
}
.advantage-container {
  max-width: 960px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.advantage-header {
  text-align: center;
  margin-bottom: 57px;
}
.advantage-title {
  margin-bottom: 23px;
  color: #fff;
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.advantage-text {
  font-size: 16px;
  line-height: 26px;
  color: #dbe2fb;
  hyphens: auto;
}
.advantage-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.advantage-content {
  position: relative;
  max-width: 50%;
}
.content-title {
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 20px;
  color: #ffff;
  font-family: "Poppins", sans-serif;
}
.content-text {
  color: #dbe2fb;
  font-size: 16px;
  hyphens: auto;
}
.img-area {
  position: relative;
  width: 100%;
}
.img {
  max-width: 100%;
}
.top-inventors {
  background-color: #001232;
  padding: 121px 0px 115px;
}

.inventors-title {
  margin-bottom: 23px;
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #fff;
  text-align: center;
}
.inventors-text {
  font-size: 16px;
  line-height: 26px;
  color: #dbe2fb;
  text-align: center;
}
.team-container {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 60px 15px 15px;
  gap: 20px;
}
.div1 {
  background: #032055;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
  padding: 20px 20px 25px;
  border-radius: 7px;
  width: 300px;
  height: 300px;
}
.team-img {
  position: relative;
  top: -60px;
  height: 200px;
  width: 200px;
  border-radius: 7px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
.team-inner-content {
  text-align: center;
  position: relative;
  margin-top: -37px;
}
.name {
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 0px;
  font-family: "Poppins", sans-serif;
}
.destignation {
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 18px;
}
.social-media li {
  display: inline-block;
}
.comment {
  background: linear-gradient(to bottom, #4a00e0, #8e2de2);
  padding: 121px 0px 115px;
}
.comment-container {
  max-width: 960px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.comment-title {
  color: #fff;
  text-align: center;
  margin-bottom: 23px;
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.comment-text {
  font-size: 16px;
  line-height: 26px;
  color: #fff;
}
.users-comment-container {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.comment1 {
  background: #032055;
  padding: 26px 30px 30px;
  border-radius: 7px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.08);
  width: 330px;
  height: 350px;
}
.stars {
  margin-bottom: 19px;
  display: block;
}
.stars i {
  color: yellow;
  font-size: 14px;
}
.user-text {
  margin-bottom: 0px;
  color: #dbe2fb;
  font-size: 16px;
  hyphens: auto;
}
.user-info {
  display: flex;
  margin-top: 26px;
}
.user-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 20px;
}
